body {
  font-family: sans-serif;
  background-color: rgb(21, 21, 21);
  text-align: center;
  color: rgba(245, 245, 245);
  font-family: monospace;
}

p {
  color: rgba(245, 245, 245);
}

p.email {
  color: hsl(344, 100%, 57%);
}

main {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 800px;
  text-align: justify;
}

h1.app-header {
  color: green;
}

h1.app-header::before {
  content: "[";
  color: white;
  font-size: 38px;
}

h1.app-header::after {
  content: "]";
  color: white;
  font-size: 38px;
}

span.replicon {
  color: hsl(204, 100%, 46.4%);
  font-weight: 600;
}

section h2 {
  color: rgba(245, 245, 245);
  font-size: 1.3rem;
}

ul {
  text-align: left;
  list-style-type: "*";
  margin-left: 0px;
  padding-left: 1rem;
}

ul li span {
  padding-left: 0.2rem;
}

ul li span.date {
  color: hsl(39.5, 100%, 53.5%);
}
